<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
</head>
<body>
    <div>
        <form action="/create" method="post">
            <div class="input">
                <label for="username">Enter a Username</label>
                <input type="text" name="username">
            </div>
            <div class="input">
                <label for="username">Enter Your Email</label>
                <input type="text" name="email">
            </div>
            <div class="input">
                <label for="username">Enter a Password</label>
                <input type="password" name="password">
            </div>
            <div class="input">
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
    
</body>
</html>