<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie | Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="main.css"> -->
    <style>
        .navbar-nav {
            margin-left: auto;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div data-th-if="${session.username != null}">
                    <a class="navbar-brand" href="/home">
                        <img src="/images/vttpProjectLogoTest.svg" alt="" width="150" class="d-inline-block align-text-top">
                    </a>
                </div>
                <div data-th-unless="${session.username != null}">
                    <a class="navbar-brand" href="/">
                        <img src="/images/vttpProjectLogoTest.svg" alt="" width="150" class="d-inline-block align-text-top">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-th-href="@{/home/{userId}/likedrecipes(userId = ${session.userId})}">Liked Recipes</a>
                        </li>
                        <li class="nav-item dropdown" data-th-if="${session.username != null}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hi, <span data-th-text="${session.username}"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
                
            </div>
        </nav>




        
    </header>
    <br>
    <div class="body">
        <h1>Welcome <span data-th-text="${session.username}"></span></h1>

        <h2>Start looking up a recipe!</h2>
        <div>
            <form action="/home/search" method="get">
                <label for="query">Search:</label>
                <input type="search" name="query">
                <button type="submit">Submit</button>
            </form>
        </div>
    
        
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>