<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie | A One-Stop Site For Recipes</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <div class="topnav">

            <div data-th-if="${session.username != null}">
                <a href="/home">
                    <img src="/images/vttpProjectLogoTest.svg" alt="" class="logo">
                </a>
            </div>
            <div data-th-unless="${session.username != null}">
                <a href="/">
                    <img src="/images/vttpProjectLogoTest.svg" alt="" class="logo">
                </a>
            </div>
            
            <nav>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <div data-th-if="${session.username != null}">
                    <p>Hi,<span data-th-text="${session.username}"></span>!</p>
                </div>
                
            </nav>
        </div>
    </header>
    <br clear="all" />
    <!-- <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div class="body-frontpage" style="display: table-cell;">
                <h1 style="font-size:60px;">Let's Get Started With <br>Our Recipes</h1>
                <p style="font-size:18px;">Facing troubles cooking a particular dish?</p>
                <p style="font-size:18px;">Have no fear, our website can help you with that!</p>
                <a href="/login" class="button">Start By Logging In</a>
            </div>
        
            <div class="indexImage" style="display: table-cell;">
                <img src="images/anh-nguyen-kcA-c3f_3FE-unsplash-resized.png" alt="">
            </div>
        </div>
    </div> -->

    <div style="display: table;">
        <div style="display: table;">
            <div class="body-frontpage" style="float: left;">
                <h1 style="font-size:60px;">Grab A Spoon, <br>It's Time To Dig Into <br>Some Of Our Favourite Recipes</h1>
                <p style="font-size:18px; font-family: 'Raleway', sans-serif;">Facing troubles cooking a particular dish?</p>
                <p style="font-size:18px; font-family: 'Raleway', sans-serif;">Have no fear, our website can help you with that!</p>
                <a href="/login" class="button">Get Started</a>
            </div>
        
            <div class="indexImage" style="float: left;">
                <img src="images/anh-nguyen-kcA-c3f_3FE-unsplash-resized.png" alt="">
            </div>
        </div>
    </div>



            

        

    
    

</body>
</html>